body{
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 5.625rem;
    margin: 2.125rem auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
}
h2{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 0.625rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p{
    line-height: 2;
}
hr{
    border: 6px dotted #eaf6f6;
    border-bottom: none;
    width: 4%;
    margin: 6.25rem auto;
}
.contact-message{
    width: 40%;
    margin: 2.5rem auto 3.75rem;
}
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 6.25rem;
    /* height: 200px; */
    /* width: 200px;
    border: 10px solid black;
    padding: 20px; */
} 
.middle-container{
    margin: 6.25rem 0;
}

.bottom-container{
    background-color: #66bfbf;
    padding: 3.125rem 0 1.25rem;
}
.pro{
    text-decoration: underline;
}
.bottom-cloud{
    position: absolute;
    left: 15.625rem;
    bottom: 18.75rem;
}
.top-cloud{ 
    position: absolute;
    top: 2.5rem;
    right: 18.75rem;
} 
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 0.625rem 1.25rem;
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}
.skill-row{
    width: 50%;
    margin-top: 6.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6.25rem;
    text-align: left;
}
.skill1-img{
    width: 25%;
    float: left;
    margin-right: 1.75rem;
}
.skill2-img{
    width: 25%;
    float: right;
    margin-left: 1.75rem;
}
/* .skill-para1{
    clear: left;     opposite of float
}
.skill-para2{
    clear: right;    opposite of float
} */
.profile-img{
    width: 13.5%;
    margin-left: auto;
    margin-right: auto;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .intro{
    width: 30%;
    margin: auto;
  }
  .footer-para{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 1.25rem 0;
  }